*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(Images/bg-image.png);
    background-size: cover;
    background-position: center;
}

.inner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.6);
    width: 400px;
    height: 200px;
    padding: 2rem 3rem;
}

input{
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #fcc23f;
    border-radius: 4px;
    width: 300px;
    font-size: 12px;
    transition: 0.2s ease;
    outline: none;
}
label{
    position: absolute;
    top: 40px;
    left: 65px;
    color: #fcc23f;
    font-family: sans-serif;
    padding: 2px 10px;
    pointer-events: none;
    outline: none;
    transition: all 0.2s ease-in;
}
input:focus~label{
    position: absolute;
    top: 22px;
    font-size: 13px;
    z-index: 2;
    background: #fcc23f;
    color: #000000;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    margin-top: 1rem;
    width: 7rem;
    border-radius: 4px;
    background: #fcc23f;
    border: none;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

button:hover{
    background: #fff;
}